!!! 5
html
    head
        title=i18n['admin.title']
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        link(href="#{url.url('/admin/resources/css/bootstrap.min.css')}", rel="stylesheet", media="screen")
        //link(href="#{url.url('/admin/resources/css/bootstrap-theme.min.css')}", rel="stylesheet", media="screen")
        link(href="#{url.url('/admin/resources/css/admin.css')}", rel="stylesheet", media="screen")
        script(src="#{url.url('/admin/resources/libs/jquery.min.js')}")
        script(src="#{url.url('/admin/resources/libs/bootstrap.min.js')}")
        script
            var hideoutConfig = {baseUrl: "#{url.url('/')}", consoleBaseUrl:"#{url.url('/.console')}", restUrl: "#{url.url('/r')}"};var hideoutI18n = !{i18n.toString()};
    body(ng-app="hideout")
        .navbar.navbar-default.navbar-fixed-top(role="navigation")
            .container
                .navbar-header
                    a.navbar-brand(href="#{url.url('/.console')}") #{i18n['admin.name']}
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown") #{i18n['admin.menu.main']}
                            ul.dropdown-menu(role="menu")
                                li
                                    a(ui-sref="security({tab:'users'})") #{i18n['admin.apps.security']}
        .container
            div(style="positon:relative;")
                .h-alert-pane
                    div(h-alert, ng-repeat="alert in _hideoutAlerts", id="{{alert.id}}", type="{{alert.type}}",
                    message="{{alert.message}}")
            div(h-modal, title="_hideoutModal.title",type="_hideoutModal.type", message="_hideoutModal.message", on-accept="_hideoutModal.onAccept()")
            .row(ui-view)
        script(src="#{url.url('/admin/resources/libs/underscore-min.js')}")
        script(src="#{url.url('/admin/resources/libs/angular.js')}")
        script(src="#{url.url('/admin/resources/libs/angular-animate.min.js')}")
        script(src="#{url.url('/admin/resources/libs/angular-resource.js')}")
        script(src="#{url.url('/admin/resources/libs/angular-ui-router.js')}")
        script(src="#{url.url('/admin/resources/libs/ui-bootstrap.min.js')}")
        script(src="#{url.url('/admin/resources/libs/ng-table.min.js')}")
        script(src="#{url.url('/admin/resources/js/utils.js')}")
        script(src="#{url.url('/admin/resources/js/security/security.js')}")
        script(src="#{url.url('/admin/resources/js/hideout.js')}")
