!!! 5
html
    head
        title=i18n['admin.title']
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        link(href="#{url.url('/admin/resources/css/bootstrap.min.css')}", rel="stylesheet", media="screen")
        link(href="#{url.url('/admin/resources/css/bootstrap-theme.min.css')}", rel="stylesheet", media="screen")
        link(href="#{url.url('/admin/resources/css/admin.css')}", rel="stylesheet", media="screen")
        script(src="#{url.url('/admin/resources/libs/jquery.min.js')}")
        script(src="#{url.url('/admin/resources/libs/bootstrap.min.js')}")
        script
            var hideoutConfig = {baseUrl: "#{url.url('/')}",consoleBaseUrl:"#{url.url('/.console')}"};
    body(ng-app="hideout")
        .navbar.navbar-default.navbar-fixed-top(role="navigation")
            .container
                .navbar-header
                    a.navbar-brand(href="#{url.url('/.console')}") #{i18n['admin.name']}
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown") #{i18n['admin.menu.main']}
                            ul.dropdown-menu(role="menu")
                                li
                                    a(ui-sref="security") #{i18n['admin.apps.security']}
        .container(ui-view)
        script(src="#{url.url('/admin/resources/libs/angular.js')}")
        script(src="#{url.url('/admin/resources/libs/angular-resource.js')}")
        script(src="#{url.url('/admin/resources/libs/angular-ui-router.js')}")
        script(src="#{url.url('/admin/resources/js/hideout.js')}")